<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <arg name="video_device" default="/dev/video0" />
        <!-- Launch usb_cam -->
        <include file="$(find usb_cam)/launch/usb_cam-test.launch" >
                <param name="video_device" value="$(arg video_device)" />
        </include>

        <!-- face_detector Node -->
        <node name="face_detector" pkg="my_face_detection" type="face_detect.py" output="screen" />
</launch>